@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap");

.title-word {
  font-family: Open Sans;
  font-size: 7rem;
  font-weight: 100px;

  background-image: linear-gradient(to right, #1dfdd8, #833ab4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  background-size: 300%;
  background-position: -100%;
  animation: animatedText 2s infinite alternate-reverse;
  white-space: nowrap;
}

@keyframes animatedText {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}

.text-pattarai {
  font-family: Montserrat;
  letter-spacing: 50px;
}

.img-animation {
  background-image: linear-gradient(to right, #1dfdd8, #833ab4);
  mask-image: url("../images/pattaraiCircle.svg");
  color: transparent;
  background-size: 300%;
  background-position: -100%;
  mask-size: 100%;
  mask-position: -100%;
  animation: animatedText 2s infinite alternate-reverse;
}

@media only screen and (max-width: 700px) {
  .title-word {
    font-size: 50px;
  }
  .text-pattarai {
    margin-left: 21px;
    font-size: 10px;
    letter-spacing: 25px;
  }
  .stream-text {
    font-size: 15px;
  }
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}
