@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');

.title_word{
    font-family: Open Sans;
    font-size: 7rem;
    font-weight: 100px;

    background-image: linear-gradient(to right, #1dfdd8, #833ab4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    background-size: 300%;
    background-position: -100%;

    animation: animatedText 2s infinite  alternate-reverse;
}

@keyframes animatedText {
    from{
        background-position: 0%;
    }
    to{
        background-position: 100%;
    }
}


.text_pattarai{
    font-family: Montserrat;
    letter-spacing: 50px;
}