@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.theme-dark {
  --color-start: #833ab4;
  --color-end: #1dfdd8;
  --bg-color: #000000;
  --text-color: #fafafa;
  --button-text-color: #fafafa;
  --button-bg-color: #100f10;
  --card-color: #1b1b1b;
  --theme-button-color: #1b1b1b;
}

.theme-light {
  --color-start: #1dfdd8;
  --color-end: #833ab4;
  --bg-color: #ffffff;
  --text-color: #000000;
  --button-text-color: #0c4ec9;
  --button-bg-color: #ffffff;
  --card-color: #ffffff;
  --theme-button-color: #ffffff;
  --button-shadow: 1px 1px 5px #8f78f8;
}

body {
  background-color: var(--bg-color);
}

.cardColor {
  background-color: var(--card-color);
}

.textColor {
  color: var(--text-color);
}

.main-bg {
  background-color: var(--bg-color);
  width: 650px;
  height: 100%;
}

.customButton {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  font-weight: bold;
  font-family: Roboto;
  letter-spacing: 1px;
  border-radius: 7px;
  padding: 10px;
  box-shadow: var(--button-shadow);
}

.themeButton {
  background-color: var(--theme-button-color);
  color: var(--button-text-color);
  font-weight: bold;
  border-radius: 7px;
  padding: 10px;
  box-shadow: var(--button-shadow);
}

.text-pattarai {
  color: var(--text-color);
  font-family: Montserrat;
  letter-spacing: 50px;
}

@keyframes animate {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}

.title-word {
  font-family: Open Sans;
  font-size: 8rem;
  font-weight: 100px;

  background-image: linear-gradient(
    to right,
    var(--color-start),
    var(--color-end)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  background-size: 300%;
  background-position: -100%;
  animation: animate 2s infinite alternate-reverse;
  white-space: nowrap;
}

.img-animation {
  background-image: linear-gradient(
    to right,
    var(--color-start),
    var(--color-end)
  );
  mask-image: url("../images/pattaraiCircle.svg");
  color: transparent;
  background-size: 300%;
  background-position: -100%;
  mask-size: 100%;
  mask-position: -100%;
  animation: animate 2s infinite alternate-reverse;
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

@media only screen and (max-width: 765px) {
  .title-word {
    font-size: 50px;
  }
  .text-pattarai {
    margin-left: 25px;
    font-size: 10px;
    letter-spacing: 20px;
  }
  .stream-text {
    font-size: 15px;
  }
  .customButton {
    font-size: 11px;
  }
  .img-animation {
    margin-left: 15px;
  }
  .main-bg {
    width: 240px;
  }
  .titanEmbed {
    margin-top: 12px;
  }
  .themeButton {
    font-size: 10px;
  }
  .homeTheme .themeButton {
    position: absolute;
    margin-top: 40px;
  }
}
