@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.title_word{
  line-height: 100vh;
  width: 100%;
  text-align: center;
  font-family: Montserrat;
  font-size: 100px;
  font-weight: 900;
}